/* this is a cupholder*/

body.background {
    background-image: url("assets/spes.gif");
    
}

h1 {
    font-size: 7vw;
    text-align: center;
    align-content: center;
    min-width: 25%;
    outline-color: rgb(26, 72, 47);
    outline-width: 20px;
    color: mediumspringgreen;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(200,200,200,0.5);
}

p {
    text-align: center;
    align-content: center;
    outline-color: rgb(26, 72, 47);
    outline-width: 20px;
    color: mediumspringgreen;
    font-weight: bold;
    display: inline-block;
    background-color: rgba(200,200,200,0.5);
}
