/* this is a cupholder*/

body {
    background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*ujYEKh1id0u18wPv5d61OA.gif");
}

h1 {
    text-align: center;
    align-content: center;
    width: 60%;
    outline-color: rgb(26, 72, 47);
    color: mediumspringgreen;
}